<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="row g-3 needs-validation" method="post" action="/cancelar">
          Lamentamos que canceles tu cita, esperamos verte pronto
          <label for="validationCustom03" class="form-label">Ingresa tu ID</label>
          <input type="text" class="form-control" id="validationCustom03" name="id">

          <div class="col-12">
            <button class="cancel btn btn-primary" type="submit">Cancelar cita</button>
          </div>
        </form>
         </div>
      </div>
  </div>
</main>