<!-- CUERPO DEL EJERCICIO -->
<main>
    	<div class="gtco-loader"></div>
	<div id="page">

	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="index.html">Nolita Bistrot <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
            <li class="nav-item"> <a class="nav-link active" id="btnnuevo" href="/">Nueva cita</a> </li>
          <li class="nav-item"> <a class="nav-link active" id="btnmodificar" href="/">Modificar</a> </li>
						<li><a href="contact.html">Contacto</a></li>
						<li class="btn-cta"><a href="index.html"><span>Reservacion</span></a></li>
					</ul>	
				</div>
			</div>
		</div>
	</nav>
	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/siarhei-plashchynski-9tJLbPSsS_8-unsplash.jpg)" data-stellar-background-ratio="0.5">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
				
							<h1 class="cursive-font primary-color">Lo sentimos, la hora {{horaOcupada}} está ocupada.  <br> Elije otra</h1>
							<a href="/">Volver a la reserva de citas</a>
						</div>
					
					</div>
						
					
				</div>
			</div>
		</div>
	</header>


</main>